// Should be used to style just the component element.
// This is to make elements take all available height.
:host {
  display: flex;
  flex-direction: column;

  flex: 1 1 auto;
}

.container {
  display: flex;
  justify-content: space-evenly;
  flex-direction: row;
  flex-wrap: wrap;

  padding: 0 0 0 1em;
  flex: 1 1 auto;

  * {
    box-shadow: none;
  }

  .filters {
    flex-grow: 1;

    min-width: 15em;
    margin: 0 1em 1em 0;

    background: rgba(0,0,0,.03);
  }

  .task-list {
    flex-grow: 10;

    min-width: 30em;
    margin: 0 1em 1em 0;
    padding: 0;

    background: rgba(0,0,0,.03);
  }
}

.tasks {
  width: 100%;
  margin: 0;
  padding: 0;

  .row-link {
    cursor: pointer;

    &:focus {
      outline: none;
    }

    &:hover {
      color: aliceblue;
      background-color: #DDD;
      left: .1em;
    }

    &:focus:hover {
      background-color: #6877ca;
    }
  }
}
