<div class="body">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <span class="title">{{title}}</span>

      <a mat-flat-button *ngFor="let link of links"
         color="primary"
         routerLink="{{link.url}}"
         (click)="activeLink = link.url">{{link.name}}</a>

      <span class="spacer"></span>
      <button mat-flat-button color="accent" (click)="logout()">Logout</button>
    </mat-toolbar-row>
  </mat-toolbar>

  <div *ngIf="authenticated()" class="content">
    <router-outlet></router-outlet>
  </div>
</div>
