<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>{{title}}</span>

    <span class="spacer"></span>
    <button mat-flat-button color="accent" (click)="logout()">Logout</button>
  </mat-toolbar-row>
</mat-toolbar>

<div class="body">
  <nav mat-tab-nav-bar disableRipple="true" class="navBar">
    <a mat-tab-link *ngFor="let link of links"
       routerLink="{{link.url}}"
       (click)="activeLink = link.url"
       [active]="activeLink == link.url">{{link.name}}</a>
  </nav>

  <div [hidden]="authenticated()">
    <p>Please sign in</p>
  </div>

  <div *ngIf="authenticated()">
    <router-outlet></router-outlet>
  </div>
</div>
