.navBar {
  //max-width: 30em;
  flex: 0 0 auto;
  display: flex;
  justify-content: flex-end;
  flex-direction: row;
  align-items: center;

  margin: 0 auto 1em;
  background-color: #EEE;
  border-radius: 8px;
  height: 1.8em;

  a {
    cursor: pointer;
    margin: 0 5px;
    height: 2em;
  }
}

.body {
  background-color: whitesmoke;
  height: 100%;

  padding-top: 1em;

  display: flex;
  flex-direction: column;
}

.spacer {
  flex: 1 1 auto;
}
